@model CarService.Models.CarDto

@{
    ViewData["Title"] = "Index";
}

<div id="app"></div>
<script type="module">
    const { createApp } = Vue;
    import CarFilter from "/js/CarFilter.js";
    let app = createApp({
        data() {
            return {
                cars: [],
                SearchTerms: {
                    MinPrice: '',
                    MaxPrice: '',
                    Company: [],
                    Model: [],
                    Color: []
                },
                SearchOptions: {
                    Companies: [],
                    Models: [],
                    Colors: []
                }
            }
        },
        mounted() {
            this.searchByCondition(this.SearchTerms);
        },
        methods: {
            async searchByCondition(s) {
                let url = 'https://' +window.location.hostname+(window.location.port ? (':'+window.location.port) : '') +'/api/car'+ '?MinPrice='+s.MinPrice+'&MaxPrice='+s.MaxPrice+'&Company='+s.Company.toString()+
                        '&Model='+s.Model.toString()+'&Color='+s.Color.toString()+'&OrderBy=Company';
                const res = await fetch(url);
      const result = await res.json();
      console.log("hello");
      this.cars = result.cars;
      this.SearchOptions.Companies = result.company.split(",");
      this.SearchOptions.Models = result.model.split(",");
      this.SearchOptions.Colors = result.color.split(",");
            }
        },
        template: `
            <div class="row">
        <div class="col-md-3">
            <CarFilter :SearchOptions="SearchOptions" v-on:filter="searchByCondition" />
        </div>
        <div class="col-md-9">
            <div class="float-start">
                <h2>Avtomobillar ro'yhati</h2>
            </div>
            <div class="float-end">
                <a href="/Cars/Create" class="btn btn-primary">Add Car</a>
            </div><br />
            <div v-if="cars.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Model</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="car in cars">
                            <td>{{car.company}}</td>
                            <td>{{car.model}}</td>
                            <td>{{car.color}}</td>
                            <td>{{car.price}}</td>
                            <td>
                                <div class="float-end">
                                    <a :href="'Cars/Edit/'+car.id" class="btn btn-primary" style="width: 75px;">Edit</a>
                                    <a :href="'Cars/Details/'+car.id" class="btn btn-info mx-lg-1 mx-md-1 mx-xxl-1 mx-xl-1" style="width: 75px;">Details</a>
                                    <a :href="'Cars/Delete/'+car.id" class="btn btn-danger" style="width: 75px;">Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else class="float-none align-items-start">
                <br />
                <h4 class="text-muted mt-1">So'rovingiz bo'yicha natijalar topilmadi</h4>
            </div>
        </div>
    </div>
        `
    });
    app.component('CarFilter', CarFilter)
    app.mount('#app');
</script>
